
html {
  scroll-behavior: smooth;
}

body{
    background: #FEF0CC;
}

@font-face {
    font-family: 'dutch809_btroman';
    src: url('../fonts/dut809n-webfont.woff2') format('woff2'),
         url('../fonts/dut809n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dutch809_btbold';
    src: url('../fonts/dut809b-webfont.woff2') format('woff2'),
         url('../fonts/dut809b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dutch809_btitalic';
    src: url('../fonts/dut809i-webfont.woff2') format('woff2'),
         url('../fonts/dut809i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'dutch809_btroman';
    color: #707070;
                                                
}

h1 {
    font-family: 'dutch809_btbold';
    font-weight: 400;
    font-size: 32px;
    color: #fff;
}

h2 {
    font-family: 'dutch809_btroman';
    font-weight: 400;
    font-size: 28px;
    color: #032960;
    margin-bottom: 15px;
}

h3 {
    font-family: 'dutch809_btroman';
    font-weight: 400;
    font-size: 22px;
    color: #032960;
    margin-bottom: 30px;
}

h4 {
    font-family: 'dutch809_btroman';
    font-weight: 400;
    font-size: 18px;
    color: #032960;
    line-height: 1.5;
}
h5 {
    font-family: 'dutch809_btbold';
    font-weight: 400;
    font-size: 18px;
    color: #212529;
}
h6 {
    font-family: 'dutch809_btbold';
    font-weight: 400;
    font-size: 16px;
    color: #11308b;
}

p {
    font-family: 'dutch809_btroman';
    font-weight: 300;
    font-size: 16px;
}

a {
    color: #0072bc;
    font-size: 16px;
    font-weight: 400;
}


section{
    padding: 60px 0px;
    overflow: hidden;
}

.bg-light{
    background: #ECF2E7 !important;
}

.bg-blue{
    background: #222B61;
}

.text-gold{
    color: #DCB256 !important;
}

@media(min-width: 1900px){
    .container{
        max-width: 1550px !important;
    }
}


/*Button CSS BEGINS*/

.btn-cta{
    background: transparent;
    font-size: 15px;
    color: #3E3E3F;
    font-weight: 300;
    border: 2px solid #bf8e2a;
    padding: 5px 25px;
    border-radius: 0;
}

.knowmore-arrow{
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding-top: 5px;
    margin-left: 10px;
}
.knowmore-arrow i{
    transform: rotate(270deg);
    position: relative;
    left: -2px;
    top: 3px;
}

button:focus{
    outline: none !important;
}

/*Button CSS ENDS*/


/*slider css : BEGIN*/

.slider-container{
    position: relative;
}

.slick-arrow {
    background: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #1D1818;
    z-index: 1;
    border: 0;
    font-size: 0;
    outline: none;
    font-family: "Font Awesome 5 Free";
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity:1;
}

@media(max-width: 425px){
    .slick-arrow{
        top: 0;
    }
}

.slick-arrow.slick-prev {
    left: -50px
}

@media(max-width: 425px){
    .slick-arrow.slick-prev {
    left: -15px;
    }
}

.slick-arrow.slick-prev:before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    color: #bf8e2a;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 900;
}

.slick-arrow.slick-next {
    right: -50px
}

@media(max-width: 425px){
.slick-arrow.slick-next {
    right: -15px;
    }
}

.slick-arrow.slick-next:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    color: #bf8e2a;
    font-size: 16px;
    line-height: 2.2;
    font-weight: 900;
}





.slick-dots {
    text-align: center;
    padding: 0;
    margin-bottom: 15px
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer
}

.slick-dots li:only-child {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:before,
.slick-dots li button::before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0px;
    left: 0px;
    margin: auto auto;
    width: 6px;
    height: 6px;
    background: none;
    background: #333434;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button::before {
    background: #0F4478;
    width: 12px;
    height: 12px
}


/*slider css : END*/



/*Header CSS BEGINS*/

.main-header{
    padding: 30px 0px;
    width: 100%;
    transition: .3s all ease-in-out;
    /*background: rgb(255 255 255 / 50%);*/
}

.stickymain {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    z-index: 99;
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
    background: #fff;
    padding: 10px 0px;
    transition: .3s all ease-in-out;
}

.header-logo{
    width: 230px;
}


.stickymain .header-logo{
    width: 200px;
}

.navbar-nav .nav-link{
    color: #000;
    padding: 0.5rem 0.8rem !important;
}

.navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0 !important
}

.navbar-nav{
    margin-top: 35px;
}



@media(max-width: 480px){
    .header-logo{
        width: 170px;
    }
    .stickymain .header-logo{
        width: 130px;
    }
}

/*Header CSS ENDS*/



/*Home Page CSS BEGINS*/

#banner{
    background: #EED7A3;
}

.home-banner{
    padding: 90px 0px
}

.home-section{
    padding: 90px 0px
}

@media(min-width: 1900px){
    .pos-bottom{
        top: 180px !important;
    }
}
.pos-top{
    position: absolute;
    top: -80px;
    left: -60px;
}

.pos-bottom{
    position: absolute;
    top: 190px;
    width: 100%;
}

@media(max-width: 480px){
   .pos-top{
    position: initial;
   } 
   .pos-bottom{
    position: initial;
   }
}


/*Home Page CSS ENDS*/



/*About Page CSS BEGINS*/

.img-text{
    color: #C19231;
    font-size: 20px;
    margin-top: 10px;
}

.title-border-bottom{
    position: relative;
}

.title-border-bottom:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #BF8E2A;
    display: block;
}

.core-values p{
     padding-right: 15px;
     padding-left: 15px;
     font-size: 18px;
     border-right: 1px solid #000;
    }

    .core-values p:first-child{
        padding-left: 0;
    }

    .core-values p:last-child{
        border-right: 0;
    }

    .about-list li{
        line-height: 28px;
        margin-bottom: 8px;
        position: relative;
    }

    .about-list{
        list-style-type: none;
    }

    .about-list li:before{
        content: '-';
        color: #000;
        position: absolute;
        top: 0;
        left: -25px;
        display: block;
    }

    @media(max-width: 480px){
        .core-values p{
            padding-left: 8px;
            padding-right: 8px;
        }
    }

/*About Page CSS ENDS*/


/*Automotives Page CSS BEGINS*/


@media(min-width: 1900px){
    .banner-title{
        top: 345px !important
    }
}


.banner-title{
    color: #fff;
    background: #032960;
    padding: 10px 30px;
    position: absolute;
    top: 215px;
    right: 0;
}


@media(max-width: 320px){
    .banner-title{
        font-size: 22px;
    }
}

/*Automotives Page CSS ENDS*/

/*Media Page CSS BEGINS*/


@media(min-width: 600px){
    .media-wrapper{
        margin-right: 55px;
    }
}

.media-wrapper h4{
    margin-bottom: 0px;
    margin-top: 10px;
}

.media-wrapper img{
    width: 100%;
}

    .media-wrapper{
        padding: 0 30px;
    }

/*Media Page CSS ENDS*/



/*Footer CSS BEGINS*/

footer{
    background: #032960;
}

footer p{
    color: #fff;
    margin-bottom: 0;
    padding: 10px 0px;
    font-size: 14px;
}

/*Footer CSS ENDS*/













